.create-new__container {
    text-align: center;
    margin: 5px;
}

.create-new__container:hover {
    box-shadow: 0 0.5em 1em -0.125em rgba(hsl(0, 0%, 4%), 0.1), 0 0 0 2px #FEDC63
}

.token__container {
    display: block;
}