<div class="modal" [ngClass]="getModalActiveClass()">
    <div class="modal-background"></div>

    <div class="modal-card" *ngIf="notificationType === 0">
        <header class="modal-card-head">
            <p class="modal-card-title">
                Request Successful! &nbsp;
                <img
                    class="notification__status-icon"
                    src="../../../assets/check.svg"
                />
            </p>
            <button
                class="delete"
                aria-label="close"
                (click)="toggleModal()"
            ></button>
        </header>
        <section class="modal-card-body">
            <div class="columns">
                <div class="column is-one-quarter">
                    <p class="is-pulled-right is-size-5">Asset ID:</p>
                </div>
                <div class="column is-three-quarters">
                    <a
                        href="{{
                            'https://goalseeker.purestake.io/algorand/testnet/asset/' +
                                assetId
                        }}"
                        target="_blank"
                        ><span class="tag is-dark is-medium is-pulled-left">{{
                            assetId
                        }}</span></a
                    >
                </div>
            </div>
            <div class="columns">
                <div class="column is-one-quarter">
                    <p class="is-pulled-right is-size-5">TX Hash:</p>
                </div>
                <div class="column is-three-quarters">
                    <a
                        href="{{
                            'https://goalseeker.purestake.io/algorand/testnet/transaction/' +
                                txHash
                        }}"
                        target="_blank"
                        ><span class="tag is-dark is-medium is-pulled-left">{{
                            shortenTxHash()
                        }}</span></a
                    >
                </div>
            </div>
        </section>
        <footer class="modal-card-foot">
            <button
                class="button is-warning is-fullwidth"
                (click)="toggleModal()"
            >
                OK
            </button>
        </footer>
    </div>

    <div class="modal-card" *ngIf="notificationType === 1">
        <header class="modal-card-head">
            <p class="modal-card-title">
                Request Failed! &nbsp;
                <img
                    class="notification__status-icon"
                    src="../../../assets/error.svg"
                />
            </p>
            <button
                class="delete"
                aria-label="close"
                (click)="toggleModal()"
            ></button>
        </header>
        <section class="modal-card-body">
            <div class="columns">
                <div class="column is-one-quarter">
                    <p class="is-size-5">Error:</p>
                </div>
                <div class="column is-three-quarters">
                    <span class="tag is-dark is-medium">{{ error }} </span>
                </div>
            </div>
            <div class="columns">
                <div class="column is-one-quarter">
                    <p class="is-size-5">TX Hash:</p>
                </div>
                <div class="column is-three-quarters">
                    <a
                        href="{{
                            'https://goalseeker.purestake.io/algorand/testnet/transaction/' +
                                txHash
                        }}"
                        target="_blank"
                        ><span class="tag is-dark is-medium">{{
                            shortenTxHash()
                        }}</span></a
                    >
                </div>
            </div>
        </section>
        <footer class="modal-card-foot">
            <button
                class="button is-warning is-fullwidth"
                (click)="toggleModal()"
            >
                OK
            </button>
        </footer>
    </div>

    <div class="modal-card" *ngIf="notificationType === 2">
        <header class="modal-card-head">
            <p class="modal-card-title">
                Confirm Action!
            </p>
            <button
                class="delete"
                aria-label="close"
                (click)="toggleModal()"
            ></button>
        </header>
        <section class="modal-card-body">
            <p class="is-size-5">
                Are you sure you want to proceed? Destroying a token is
                irreversible.
            </p>
        </section>
        <footer class="modal-card-foot">
            <button
                class="button is-warning is-fullwidth"
                (click)="confirmDestroy()"
            >
                Yes
            </button>
            <button
                class="button is-danger is-fullwidth"
                (click)="toggleModal()"
            >
                No
            </button>
        </footer>
    </div>
</div>
