<section>
    <nav class="navbar is-warning">
        <div class="navbar-brand">
            <a class="navbar-item">
                <img src="../../../assets/mango.svg" width="50" />
                <strong>Mango</strong>
            </a>
        </div>

        <div class="navbar-end">
            <div class="navbar-item">
                <div
                    class="dropdown"
                    [ngClass]="dropdownIsActive ? 'is-active' : ''"
                >
                    <div class="dropdown-trigger">
                        <button
                            class="button is-dark"
                            (click)="toggleDropdown()"
                            aria-haspopup="true"
                            aria-controls="dropdown-menu"
                        >
                            <span>{{
                                this.stateService.activeNetwork
                                    .charAt(0)
                                    .toUpperCase() +
                                    this.stateService.activeNetwork.substring(1)
                            }}</span>
                        </button>
                    </div>
                    <div class="dropdown-menu" id="dropdown-menu" role="menu">
                        <div class="dropdown-content">
                            <a
                                class="dropdown-item"
                                [ngClass]="
                                    activeNetwork === 'mainnet'
                                        ? 'is-active'
                                        : ''
                                "
                                (click)="setMainnetActive()"
                            >
                                Mainnet
                            </a>
                            <a
                                class="dropdown-item"
                                [ngClass]="
                                    activeNetwork === 'testnet'
                                        ? 'is-active'
                                        : ''
                                "
                                (click)="setTestnetActive()"
                            >
                                Testnet
                            </a>
                            <a
                                class="dropdown-item"
                                [ngClass]="
                                    activeNetwork === 'betanet'
                                        ? 'is-active'
                                        : ''
                                "
                                (click)="setBetanetActive()"
                            >
                                Betanet
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="navbar-item">
                <div class="buttons">
                    <a class="button is-dark" routerLink="/login">
                        <strong>Logout</strong>
                    </a>
                </div>
            </div>
        </div>
    </nav>

    <div class="columns">
        <div class="column is-one-quarter">
            <app-token-lister></app-token-lister>
        </div>
        <div class="column is-three-quarters">
            <app-token-details
                *ngIf="!showTokenCreate"
                [currToken]="selectedToken"
            ></app-token-details>
            <app-token-create *ngIf="showTokenCreate"></app-token-create>
        </div>
    </div>
</section>
