<section>
    <nav class="navbar">
        <div class="navbar-brand">
            <a class="navbar-item">
                <img src="https://calories-info.com/site/assets/files/1173/mango.650x0.jpg">
            </a>
        </div>

        <div class="navbar-end">
            <div class="navbar-item">
              <div class="buttons">
                <a class="button is-primary">
                  <strong>Logout</strong>
                </a>
              </div>
            </div>
          </div>
    </nav>
</section>