<section>
    <nav class="navbar is-warning">
        <div class="navbar-brand">
            <a class="navbar-item">
                <img src="../../../assets/mango.svg" width="50" />
                <strong>Mango</strong>
            </a>
        </div>

        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    <a class="button is-dark" routerLink="/login">
                        <strong>Logout</strong>
                    </a>
                </div>
            </div>
        </div>
    </nav>

    <div class="columns">
        <div class="column is-one-quarter">
            <app-token-lister></app-token-lister>
        </div>
        <div class="column is-three-quarters">
            <app-token-details
                *ngIf="!showTokenCreate"
                [currToken]="selectedToken"
            ></app-token-details>
            <app-token-create *ngIf="showTokenCreate"></app-token-create>
        </div>
    </div>

    <!-- <app-footer></app-footer> -->
</section>
