<footer class="footer footer__sticky">
    <div class="has-text-centered">
        <p>
            <a href="https://github.com/MangoDev-io/mango" target="_blank"
                ><img src="../../../assets/github.svg" width="32" />
            </a>
        </p>
        <p>
            <strong>Mango</strong> by
            <a href="https://mangodev.io" target="_blank">MangoDev.io</a>. The
            source code is licensed
            <a
                href="http://opensource.org/licenses/mit-license.php"
                target="_blank"
                >MIT</a
            >. The website content is licensed
            <a
                href="https://creativecommons.org/licenses/by/4.0/"
                target="_blank"
                >CC BY 4.0</a
            >.
            <br />
            <strong>NOTE: </strong>
            We never store your mnemonic phrase or private key.
        </p>
    </div>
</footer>
