<div class="container">
    <app-notification
        [showModal]="showNotificationModal"
        [modalSuccess]="notificationModalSuccess ? 0 : 1"
        [assetId]="responseAssetId"
        [txHash]="responseTxHash"
        [error]="responseError"
    ></app-notification>
    <article class="message tokenCreate__message">
        <div class="message-header">
            <p>+ Create New Asset</p>
        </div>
        <div class="message-body has-background-grey-lighter">
            <div class="columns">
                <div class="column is-half">
                    <div class="columns">
                        <div class="column is-two-fifths">
                            <p class="is-pulled-right is-size-5">Asset Name:</p>
                        </div>
                        <div class="column">
                            <input
                                class="input tag is-medium"
                                type="text"
                                [(ngModel)]="assetCreate.assetName"
                                placeholder="e.g. USD Tether"
                            />
                        </div>
                    </div>

                    <div class="columns">
                        <div class="column is-two-fifths">
                            <p class="is-pulled-right is-size-5">
                                Total Issuance:
                            </p>
                        </div>
                        <div class="column">
                            <input
                                class="input tag is-medium"
                                type="number"
                                [(ngModel)]="assetCreate.totalIssuance"
                                placeholder="e.g. 100000000"
                            />
                        </div>
                    </div>

                    <div class="columns">
                        <div class="column is-two-fifths">
                            <p class="is-pulled-right is-size-5">
                                Default Frozen:
                            </p>
                        </div>
                        <div class="column">
                            <label class="radio">
                                <input
                                    type="radio"
                                    name="member"
                                    [(ngModel)]="assetCreate.defaultFrozen"
                                    [value]="true"
                                />
                                Yes
                            </label>
                            <label class="radio">
                                <input
                                    type="radio"
                                    name="member"
                                    [(ngModel)]="assetCreate.defaultFrozen"
                                    [value]="false"
                                />
                                No
                            </label>
                        </div>
                    </div>

                    <div class="columns">
                        <div class="column is-two-fifths">
                            <p class="is-pulled-right is-size-5">
                                Metadata Hash:
                            </p>
                        </div>
                        <div class="column">
                            <input
                                class="input tag is-medium"
                                type="text"
                                [(ngModel)]="assetCreate.metadataHash"
                            />
                        </div>
                    </div>
                </div>
                <div class="column is-half">
                    <div class="columns">
                        <div class="column is-one-quarter">
                            <p class="is-pulled-left is-size-5">
                                Unit Name:
                            </p>
                        </div>
                        <div class="column">
                            <input
                                class="input tag is-medium"
                                type="text"
                                [(ngModel)]="assetCreate.unitName"
                                placeholder="e.g. USDT"
                            />
                        </div>
                    </div>

                    <div class="columns">
                        <div class="column is-one-quarter">
                            <p class="is-pulled-left is-size-5">
                                Decimals:
                            </p>
                        </div>
                        <div class="column">
                            <input
                                class="input tag is-medium"
                                type="number"
                                [(ngModel)]="assetCreate.decimals"
                                placeholder="e.g. 10"
                            />
                        </div>
                    </div>

                    <div class="columns">
                        <div class="column is-one-quarter">
                            <p class="is-pulled-left is-size-5">
                                URL:
                            </p>
                        </div>
                        <div class="column">
                            <input
                                class="input tag is-medium"
                                type="text"
                                [(ngModel)]="assetCreate.url"
                                placeholder="e.g. https://tether.to/"
                            />
                        </div>
                    </div>
                </div>
            </div>
            <div class="columns">
                <div class="column is-one-fifth">
                    <p class="is-pulled-right is-size-5">Manager Address</p>
                </div>
                <div class="column">
                    <input
                        class="input tag is-medium"
                        type="text"
                        [(ngModel)]="assetCreate.managerAddr"
                        placeholder="e.g. MTTIYHO4QQAEZ6VPLW44YV7AT7TY4SDBYGLFARD7POC2JMSIIK3RVWZVZU"
                    />
                </div>
            </div>
            <div class="columns">
                <div class="column is-one-fifth">
                    <p class="is-pulled-right is-size-5">Reserve Address</p>
                </div>
                <div class="column">
                    <input
                        class="input tag is-medium"
                        type="text"
                        [(ngModel)]="assetCreate.reserveAddr"
                        placeholder="e.g. MTTIYHO4QQAEZ6VPLW44YV7AT7TY4SDBYGLFARD7POC2JMSIIK3RVWZVZU"
                    />
                </div>
            </div>
            <div class="columns">
                <div class="column is-one-fifth">
                    <p class="is-pulled-right is-size-5">Freeze Address</p>
                </div>
                <div class="column">
                    <input
                        class="input tag is-medium"
                        type="text"
                        [(ngModel)]="assetCreate.freezeAddr"
                        placeholder="e.g. MTTIYHO4QQAEZ6VPLW44YV7AT7TY4SDBYGLFARD7POC2JMSIIK3RVWZVZU"
                    />
                </div>
            </div>
            <div class="columns">
                <div class="column is-one-fifth">
                    <p class="is-pulled-right is-size-5">Clawback Address</p>
                </div>
                <div class="column">
                    <input
                        class="input tag is-medium"
                        type="text"
                        [(ngModel)]="assetCreate.clawbackAddr"
                        placeholder="e.g. MTTIYHO4QQAEZ6VPLW44YV7AT7TY4SDBYGLFARD7POC2JMSIIK3RVWZVZU"
                    />
                </div>
            </div>

            <div class="field is-grouped is-grouped-centered">
                <p class="control">
                    <a
                        class="button is-warning"
                        (click)="createAsset()"
                        [ngClass]="getButtonLoadingClass()"
                    >
                        Create
                    </a>
                </p>
                <p class="control">
                    <a class="button is-light">
                        Cancel
                    </a>
                </p>
            </div>
        </div>
    </article>
</div>
