.tokenDetails__message {
    margin-top: 1em;
    margin-right: 1em;
}

.tokenDetails__message .message-body {
    min-height: 70vh;
}

// .tokenDetails__manage-addresses-first {
//     margin-top: 4em;
// }

.token-details__button-group {
    text-align: center;
    margin-top: -1.2rem;
}

.token-details__button-group button {
    line-height: 1.5;
    margin: 0 0.5em 0 0.5em;
}

.token-details__form {
    line-height: 1.5;
}

.tokenDetails__confirm {
    margin-top: 1rem;
}
