<div class="container">
    <article class="message tokenDetails__message">
        <div class="message-header">
            <p>{{ currToken.assetName }} ({{ currToken.unitName }})</p>
        </div>
        <div class="message-body has-background-grey-lighter">
            <div class="columns has-text-centered">
                <div class="column is-half">
                    <div class="columns">
                        <div class="column is-half">
                            <p class="is-pulled-right is-size-5">Asset ID:</p>
                        </div>
                        <div class="column is-half">
                            <span
                                class="tag is-dark is-medium is-pulled-left"
                                >{{ currToken.assetId }}</span
                            >
                        </div>
                    </div>

                    <div class="columns">
                        <div class="column is-half">
                            <p class="is-pulled-right is-size-5">Asset Name:</p>
                        </div>
                        <div class="column is-half">
                            <span
                                class="tag is-dark is-medium is-pulled-left"
                                >{{ currToken.assetName }}</span
                            >
                        </div>
                    </div>

                    <div class="columns">
                        <div class="column is-half">
                            <p class="is-pulled-right is-size-5">Total:</p>
                        </div>
                        <div class="column is-half">
                            <span
                                class="tag is-dark is-medium is-pulled-left"
                                >{{ currToken.totalIssuance }}</span
                            >
                        </div>
                    </div>

                    <div class="columns" *ngIf="currToken.url">
                        <div class="column is-half">
                            <p class="is-pulled-right is-size-5">URL:</p>
                        </div>
                        <div class="column is-half">
                            <a href="{{ currToken.url }}"
                                ><span
                                    class="tag is-dark is-medium is-pulled-left"
                                    >{{ currToken.url }}</span
                                ></a
                            >
                        </div>
                    </div>
                    <div
                        class="columns"
                        *ngIf="!currToken.url && currToken.metadataHash"
                    >
                        <div class="column is-half">
                            <p class="is-pulled-right is-size-5">
                                Metadata Hash:
                            </p>
                        </div>
                        <div class="column is-half">
                            <span
                                class="tag is-dark is-medium is-pulled-left"
                                >{{ currToken.metadataHash }}</span
                            >
                        </div>
                    </div>
                </div>
                <div class="column is-half">
                    <div class="columns">
                        <div class="column is-half">
                            <p class="is-pulled-right is-size-5">Unit Name:</p>
                        </div>
                        <div class="column is-half">
                            <span
                                class="tag is-dark is-medium is-pulled-left"
                                >{{ currToken.unitName }}</span
                            >
                        </div>
                    </div>

                    <div class="columns">
                        <div class="column is-half">
                            <p class="is-pulled-right is-size-5">Decimals:</p>
                        </div>
                        <div class="column is-half">
                            <span
                                class="tag is-dark is-medium is-pulled-left"
                                >{{ currToken.decimals }}</span
                            >
                        </div>
                    </div>

                    <div class="columns">
                        <div class="column is-half">
                            <p class="is-pulled-right is-size-5">
                                Default Frozen:
                            </p>
                        </div>
                        <div class="column is-half">
                            <span
                                class="tag is-dark is-medium is-pulled-left"
                                >{{ currToken.defaultFrozen }}</span
                            >
                        </div>
                    </div>

                    <div
                        class="columns"
                        *ngIf="currToken.url && currToken.metadataHash"
                    >
                        <div class="column is-half">
                            <p class="is-pulled-right is-size-5">
                                Metadata Hash:
                            </p>
                        </div>
                        <div class="column is-half">
                            <span
                                class="tag is-dark is-medium is-pulled-left"
                                >{{ currToken.metadataHash }}</span
                            >
                        </div>
                    </div>
                </div>
            </div>

            <div class="columns">
                <div class="column is-half">
                    <div
                        class="columns has-text-centered tokenDetails__manage-addresses-first"
                    >
                        <div class="column">
                            <p class="is-size-5 is-pulled-right">
                                Creator Address:
                            </p>
                        </div>
                        <div class="column">
                            <a
                                href="{{
                                    'https://testnet.algoexplorer.io/address/' +
                                        currToken.creatorAddr
                                }}"
                                ><span
                                    class="tag is-dark is-medium is-pulled-left"
                                    >{{
                                        shortenAddress(currToken.creatorAddr)
                                    }}</span
                                ></a
                            >
                        </div>
                    </div>
                    <div class="columns has-text-centered">
                        <div class="column">
                            <p class="is-size-5 is-pulled-right">
                                Manager Address:
                            </p>
                        </div>
                        <div class="column">
                            <a
                                href="{{
                                    'https://testnet.algoexplorer.io/address/' +
                                        currToken.managerAddr
                                }}"
                                ><span
                                    class="tag is-dark is-medium is-pulled-left"
                                    >{{
                                        shortenAddress(currToken.managerAddr)
                                    }}</span
                                ></a
                            >
                        </div>
                    </div>
                    <div class="columns has-text-centered">
                        <div class="column">
                            <p class="is-size-5 is-pulled-right">
                                Reserve Address:
                            </p>
                        </div>
                        <div class="column">
                            <a
                                href="{{
                                    'https://testnet.algoexplorer.io/address/' +
                                        currToken.reserveAddr
                                }}"
                                ><span
                                    class="tag is-dark is-medium is-pulled-left"
                                    >{{
                                        shortenAddress(currToken.reserveAddr)
                                    }}</span
                                ></a
                            >
                        </div>
                    </div>
                    <div class="columns has-text-centered">
                        <div class="column">
                            <p class="is-size-5 is-pulled-right">
                                Freeze Address:
                            </p>
                        </div>
                        <div class="column">
                            <a
                                href="{{
                                    'https://testnet.algoexplorer.io/address/' +
                                        currToken.freezeAddr
                                }}"
                                ><span
                                    class="tag is-dark is-medium is-pulled-left"
                                    >{{
                                        shortenAddress(currToken.freezeAddr)
                                    }}</span
                                ></a
                            >
                        </div>
                    </div>
                    <div class="columns has-text-centered">
                        <div class="column">
                            <p class="is-size-5 is-pulled-right">
                                Clawback Address:
                            </p>
                        </div>
                        <div class="column">
                            <a
                                href="{{
                                    'https://testnet.algoexplorer.io/address/' +
                                        currToken.clawbackAddr
                                }}"
                                ><span
                                    class="tag is-dark is-medium is-pulled-left"
                                    >{{
                                        shortenAddress(currToken.clawbackAddr)
                                    }}</span
                                ></a
                            >
                        </div>
                    </div>
                </div>
                <div class="column is-half">
                    <div class="token-details__button-group columns">
                        <!-- <div class="column is-one-quarter"></div> -->
                        <div class="column three-quarters">
                            <button class="button is-info">
                                Freeze
                            </button>
                            <button class="button is-light">
                                Revoke
                            </button>
                            <button class="button is-warning">
                                Modify
                            </button>
                            <button class="button is-danger">
                                Destroy
                            </button>
                        </div>
                    </div>

                    <div class="token-details__modify-form">
                        <div class="columns">
                            <div class="column is-half">
                                <p class="is-pulled-right is-size-5">
                                    New Manager Address:
                                </p>
                            </div>
                            <div class="column is-half token-details__form">
                                <input
                                    class="input tag is-medium"
                                    type="text"
                                />
                            </div>
                        </div>
                        <div class="columns">
                            <div class="column is-half">
                                <p class="is-pulled-right is-size-5">
                                    New Reserve Address:
                                </p>
                            </div>
                            <div class="column is-half token-details__form">
                                <input
                                    class="input tag is-medium"
                                    type="text"
                                />
                            </div>
                        </div>
                        <div class="columns">
                            <div class="column is-half">
                                <p class="is-pulled-right is-size-5">
                                    New Freeze Address:
                                </p>
                            </div>
                            <div class="column is-half token-details__form">
                                <input
                                    class="input tag is-medium"
                                    type="text"
                                />
                            </div>
                        </div>
                        <div class="columns">
                            <div class="column is-half">
                                <p class="is-pulled-right is-size-5">
                                    New Clawback Address:
                                </p>
                            </div>
                            <div class="column is-half token-details__form">
                                <input
                                    class="input tag is-medium"
                                    type="text"
                                />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
</div>
